<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>
{{range .}}
<p><a href="/users/show?ID={{.ID}}">{{.ID}}</a> - {{.name}} - {{.city}} - {{.age}}</p>
{{end}}
</body>
</html>